* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

img {
    max-width: 100%;
    /* padding-bottom: 5px; */
}

/* COMMON */
/* Layout */

.container {
    width: 80%;
    max-width:1100px;
    margin: 0 auto;
    /* debug */
    /* border: 1px solid black;
    min-height: 300px; */
}

/* header */

.header {
    background-color:#FF6900;
    padding: 5px;
    /* height: 20px; */
    border: 1px solid black;
    margin-bottom: 40px;
}

.row-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}


.menu {
    padding: 10px 60px;
    display: flex;
    margin: 0 8px;
}

.menu,
a {
    font-family: Whitney;
    font-weight: 300;
    font-size: 14px;
    color: white;
}

.menu li {
    margin-left: 15px;
    list-style: none;
}


.logo{
    width: 90px;
}

.section {
    padding:30px,0;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 15px;
}

.col {
    width: calc(95% /3 );
    /* debug */
    /* border: 2px solid black;
    min-height: 200px;
     */
}

.card {
    position: relative;
    padding-top: 0;
    /* padding-bottom: 40px; */

}

.like {
    position:absolute;
    right: 0;
    font-size: 2rem;
}

.badges {
    position: absolute;
    left:0;
    bottom:70px;
}

.icons {
    color: #FFFFFF;
}

.discount {
    /* position: absolute; */
    /* bottom: 70px; */
    /* left: 0; */
    background-color: red;
    padding: 5px;
    color: white;
    font-family: sans-serif;
    font-size: small;
}

.tag {
    background-color: green;
    color: white;
    font-family: sans-serif;
    font-size: small;
    /* position:absolute; */
    /* bottom: 70px; */
    /* left: 45px; */
    padding: 5px;
}

.card-content {
    color: black;
    font-family: sans-serif;
    font-size:x-small;
    
}

.darker-font {
    font-weight: bold;
}

.red {
    color: red;
    font-weight: bold;
}
/* .card:hover .like {
    color: red;
} */

/* .two-img {
    position: relative ;
} */

/* .imga,
.imgb {
    position: absolute;
        top: 0;
        left: 0;
        width: 100%; */
.imga {
    display: block;
}

.imgb {
    display: none;
} 

.two-img:hover .imga{
    display: none;
}

.two-img:hover .imgb {
    display: block;
}